.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 1 24%;
}

.features {
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: white;
}

mat-grid-tile {
    background: white;
}
